.navbar{
    background-color: black;
}
.img_nav{
    height: 2rem;
}
.linea_var{
    height: 2rem;
    margin-top: 0.3rem;
}
.logo_cuenta{
    height: 2rem;
    margin-top: 0.3rem;
}
.racha{
    margin-right: 1rem;
    color: white;
}
.fuego{
    height: 2rem;
    margin-right: 10rem;
    margin-top: 0.3rem;
}
.usuario{
    color: white;
    margin-right: 10rem;
}
.cuadro{
    width: 50rem;
    background-color: rgb(220, 132, 24);
    height: 10rem;
    border-radius: 2rem;
    margin-left: 20rem;
    margin-top: 5rem;
}
.text{
    font-size: 2.2rem;
    padding-left: 13rem;
    position: absolute;
    z-index: +1;
    margin-top: -5rem;
    margin-right: 25rem;
}
.vaca{
    width: 7rem;
    height: 7rem;
    margin-left: 1rem;
    margin-top: 1.5rem;
    position: relative;
}
.opcion_a{
    background-color: rgb(220, 132, 24);
    color: black;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    padding-left: 0.6rem;
    margin-left: 20rem;
    margin-top: 5rem;
}
.respuesta_a{
    margin-left: 23rem;
    margin-top: -2.7rem;
}
.opcion_b{
    background-color: rgb(220, 132, 24);
    color: black;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    padding-left: 0.6rem;
    margin-left: 20rem;
    margin-top: 2rem;
}
.respuesta_b{
    margin-left: 23rem;
    margin-top: -2.7rem;
}
.next{
    width: 10rem;
    background-color: black;
    color: rgb(220, 132, 24);
    height: 3rem;
    border-radius: 1rem;
    padding-left: 2.8rem;
    padding-top: 0.6rem;
    margin-left: 70rem;
    margin-top: 8rem;
}
a{
    text-decoration: none;
}